* {
    -fx-primary-color: #007acc;
    -fx-secondary-color: #4B6EAF;
    -fx-grey-color: #b9b9b9;

    -fx-focus-color: -fx-secondary-color;
}

.text-field {
    -fx-accent: -fx-primary-color;
    -fx-background-color: #1ca3fc, white;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-background-radius: 0;
}
.text-field:focused {
    -fx-background-color: #0b58e7, white;
}

#ancLog{
    -fx-background-color: white; /* Background color */
    -fx-effect: dropshadow(gaussian, rgb(108, 108, 108), 10, 0.5, 0, 0);

}
#pwdtextfield{
    -fx-background-color: transparent;
}